

body{
  background-color: #fff5f2;
  color: #fff5f2;  
  background-image: url('../img/stardust.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1500px;
  cursor: url('../img/smallmouse.png'), auto;
}


p{
   font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 17px;
}

h1{
    font-size: 50px;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #8a1616;
}

.bio-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.bio-box {
  position: static;     
  width: 230px;          /* chosen size */
  margin: 40px auto;    
  padding: 18px;
  background-color: #8a1616;
  border: 7px solid #fff5f2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  text-align: center;
}

.bio-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  z-index: 10;
}


.media-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}

.media-item {
  border: 7px solid #fff5f2; /* crisp white border */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #8a1616;
  width: 100%;
  max-width: 500px;
  gap: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.feedgif{
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    height: auto;
}

.onebox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  z-index: 10;
}

.twobox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  z-index: 10;
}

.threebox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.fourbox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.fivebox-title{
   font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.sixbox-title{
   font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.sevenbox-title{
   font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.eightbox-title{
   font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.ninebox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.tenbox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.elevenbox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.twelvebox-title{
  font-family: "Tangerine";
  color: #fff5f2;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.bottom-stars {
  position: absolute;
  bottom: 40px;          /* distance from bottom of page */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;             /* spacing between stars */
  justify-content: center;
  align-items: center;
}

.star {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-decoration: none;
  width: 300px;
  height: 300px;
}

.star img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.star span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff5f2;       
  font-family: "Tangerine", cursive;
  font-size: 25px;       /* adjust text size */
}

