body{
  background-color: #8a1616;
  color: aliceblue;  
}


p{
   font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 17px;
}

h1{
    font-size: 50px;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.starpic{
    width:250px;
    height:auto;
    position: absolute;
    top: 20px;
    right:20px;
}

.media-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}

.media-item {
  border: 7px solid #e5e5e5; /* crisp white border */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 20px;
  border-radius: 12px;

  width: 100%;
  max-width: 500px;
  margin: 0 auto 40px auto;

  gap: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.feedgif{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
}

.spotifyplay-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  margin: 40px auto
}

.spotifyplay{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  background-color: #ffc0cb(255, 255, 255, 0.1);
  transition: 0.3s ease;
  border: 2px solid #ffc0cb;
}

.spotifyplay:hover{
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}

.playmusic-img{
  width: 120px;
  height: auto;
}
